/* Загальна стилізація */
* {
   font-family: 'Montserrat', sans-serif;
   font-size: 14px;
   font-weight: 400;
}

body {
   font-family: 'Montserrat', sans-serif;
   background-color: #E5E5E5;
}

.main {
   display: flex;
   flex-direction: row-reverse;
   width: 1200px;
   margin: 0px auto;
}

h1:hover {
   -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
}



.about-description {
   background-image: linear-gradient(to right,
         #54b3d6,
         #54b3d6 50%,
         #000 50%);
   background-size: 200% 100%;
   background-position: -100%;
   display: inline-block;
   padding: 5px 0;
   position: relative;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   transition: all 0.3s ease-in-out;
}

.about-description:before {
   content: '';
   background: #54b3d6;
   display: block;
   position: absolute;
   bottom: -3px;
   left: 0;
   width: 0;
   height: 3px;
   transition: all 0.3s ease-in-out;
}

.about-description:hover {
   background-position: 0;
}

.about-description:hover::before {
   width: 100%;
}

h3:hover {
box-shadow:
      1px 1px #1E2939,
      2px 2px #1E2939,
      3px 3px #1E2939,
      4px 4px #1E2939,
      5px 5px #1E2939,
      6px 6px #1E2939,
      7px 7px #1E2939;
   -webkit-transform: translateX(-7px);
   transform: translateX(-7px);
}

.main-content {
   background: #ffffff;
   box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
   padding: 105px 90px;
}

.about-position {
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 17px;
   margin-bottom: 20px;
}

.about-name {
   font-style: normal;
   font-weight: 700;
   font-size: 45px;
   line-height: 55px;
   margin-bottom: 25px;
}

.about-description {
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 24px;
   color: #595959;
   width: 420px;

}

/* Стилізація блоку projects */
.projects {
   margin-bottom: 50px;
}

h4 {
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 20px;
   color: #000000;
   margin: 0;
}

h6 {
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 15px;
   color: #A8A8A8;
   margin-top: 10px;
   margin-bottom: 10px;
}

h5 {
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 17px;
   color: #000000;
   margin-top: 10px;
   margin-bottom: 10px;
}

.company {
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 20px;
   color: #FB6D3A;
}

ul {
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 24px;
   color: #595959;
   margin: 0px 0px 20px -28px;
}

/* Стилізація блоку projects-title */
.title {
   font-style: normal;
   font-weight: 700;
   font-size: 22px;
   line-height: 27px;
   margin-bottom: 10px;
}

.projects-item {
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 24px;
}

.p-l, .p-t {
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 24px;
   color: #595959;
}

.p-l {
   margin-left: 10px;
}

.projects-list {
   padding: 0;
   margin-left: 18px;
}

/* Стилізація блоку work */
.work {

}

/* Стилізація блоку education */
.education {

}

.sidebar {
   background: #1E2939;
   padding-top: 40px;
   width: 370px;
}

.sidebar-title {
   color: #ffffff;
   font-style: normal;
   font-weight: 700;
   font-size: 22px;
   line-height: 27px;
}

.contacts, .tech-skills, .soft-skills {
   margin-left: 40px;
   color: #ffffff;
   margin-bottom: 10px;
}

.contacts {
   margin-bottom: 50px;
}

.tech-skills {
   margin-bottom: 45px;
}

.contact-text {
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 12px;
   margin-right: 6px;
}

.contact-link {
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 12px;
   color: #FFFFFF;
   opacity: 0.5;
}

.lists {
   margin-left: -28px;
   color: #FB6D3A;
}

.li-text {
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 12px;
   color: #FFFFFF;
}

.photo {
   width: 370px;
   margin-bottom: 50px;
}

/* Анімація імені */
.about-name {
   background-image: linear-gradient(to right,
         #00212e,
         #00212e 50%,
         #000 50%);
   background-size: 200% 100%;
   background-position: -100%;
   display: inline-block;
   padding: 5px 0;
   position: relative;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   transition: all 0.3s ease-in-out;
}

.about-name:before {
   content: '';
   background: #00212e;
   display: block;
   position: absolute;
   bottom: -3px;
   left: 0;
   width: 0;
   height: 3px;
   transition: all 0.3s ease-in-out;
}

.about-name:hover {
   background-position: 0;
}

.about-name:hover::before {
   width: 100%;
}

/* Анімація посилання */
.p-l {
   box-shadow: inset 0 0 0 0 #54b3d6;
   color: #54b3d6;
   padding: 0 .25rem;
   margin: 0 -.25rem;
   transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.p-l:hover {
   color: #fff;
   box-shadow: inset 200px 0 0 0 #54b3d6;
   ;
}